<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Xingyu">
    <link rel="icon" href="{{ url_for('static', filename='img/fake.ico') }}">

    <title>Fake or Fact</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fake.css') }}?version=32">

    <script src="{{ url_for('static', filename='js/ie-emulation-modes-warning.js') }}"></script>

    
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h2 align="center">A website that detects and tells if the news is<br>Real or Fake </h2>
          <h4 align="center">made by Jiitian with ♥️ </h4>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#"></a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">

            {% if entries|length > 1 %}
            <form action="{{ url_for('show_analysis') }}" method="post" >
                <p><input type="hidden" name="target_url" value="{{ entries[0] }}"></p>
                <p class="lead">
                {% if entries|length > 1 %}
                Analysis Result:
                {% if entries[3] == "Real News" %}
                <input type="submit" name="action" value="Real News" class="btn btn-success" />
                {% else %}
                <input type="submit" name="action" value="Fake News" class="btn btn-danger" />
                {% endif %}
                {% else %}
                {% endif %}
                </p>
            </form>
            {% else %}
                {% endif %}

            <p class="lead"></p>
            <p><h1 class="cover-heading">Enter Your URL</h1></p>
            <form action="{{ url_for('show_contents') }}" method="post" >

                <p><input type="text" name="target_url" class="form-control"></p>
                <p class="lead">
                <input type="submit" name="action" value="Verify" class="btn btn-lg btn-default" />
                </p>

                </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Website and Machine learning model Creator => YASHARTH, VIKRANT, DEVASYA</p>
            <p>Under sincere guidance of MR B SURESH MISHRA </p>
            <p>Special Thanks to DR DHARMENDRA SADHWANI</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/e10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>